@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.yellowGradient {
  background: #ECE948;
  background: linear-gradient(to right, #ECE948 0%, #E4E131 60%, #EFEC3C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}